@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
        font-family: "Poppins", sans-serif;
      
}
.portfolio-container{
    min-height: 100vh;
    width: 100;
    display :flex;
}
.navlist{
    display: flex;
    gap: 3.5rem;
    list-style: none;
    height: 15vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
}
.navlist li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    color: #fff;
}
.left-container,.right-container{
    height: 100vh;
    display: flex;
    align-items: center;
}
.left-container{
    background: #262525;
    width: 70%;
    padding-left: 3rem;



}
.right-container{
    background: #4dbbee;
    width: 30%;

}
.icons .fa-brands{
    color: #fff;
    font-size: 1.7rem;


}
.icons .fa-solid{
    color:#fff;
    font-size: 1.7rem;
}
.icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    cursor: pointer;
}
.content{
    margin-left: 3rem;
    margin-right: 20rem;
}
.content h2{
    font-size: 1.5rem;
    color: #fff;

}
.content h1{
    font-size: 4rem;
    color: #4dbbee;
}
.content p{
    font-size: 1.1rem;
    color:#fff;
    max-width: 38;
    align-items:left;
    max-width: 48rem;
    margin: 1.1rem 0 3rem 0;
    line-height: 1.9rem;
}
.btn-desc button{
    border: .3rem solid #65b0e6;
    font-size: 1.1rem;
    padding: 0.8rem 1.5rem;
    border-radius: 0.1rem;
    background-color: #4dbbee;
    cursor: pointer;

    
}
.design .circle{
    aspect-ratio: 1;
    position: absolute;
    border-radius: 50%;
    top: 55%;
    left: 70%;
    transform: translate(-50%, -50%);


}
.circle:nth-child(1){
    background: linear-gradient(90deg , transparent 50%,#262525 50%);
    width: 38rem;
}
.circle:nth-child(2){
    width: 30rem;
    background-image: url("image/profile\ 2.jpg");
    background-size: 100%;
     
}
footer{
    background-color: #262525;
    -webkit-text-fill-color: #fff;
}

